body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Sans Serif;
}

.destaque {
    text-align: center;
    font-weight: bold;
}

#navegacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0px 3px 4px -2px rgba(0, 0, 0, 0.15);
}

.nav_menu {
    list-style: none;
    display: flex;
}

.nav_menu li {
    margin-right: 20px;
}

.nav_menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #5b09a8;
    font-weight: bolder;
}

.nav_logo {
    width: 200px;
}

#autora {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.minhaFoto {
    height: auto;
    width: 200px;
    border-radius: 100px;
}

.conteiner {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 700px;
}

.intro_autora{
    margin-right: 30px;
}

.titulo_autora {
    text-align: center;
}

.artigo_autora h2{
    color: #1cc7c7;
}

#rodape{
    background-color: #edeaea;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.rodape_logo{
    width: 120px;
    margin-right: 10px;
}

